In [1]:
#import pandas
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password
import psycopg2
from datetime import datetime
from datetime import timedelta
import datetime
#from dateutil.relativedelta import relativedelta
from datetime import date

In [2]:
# Files to load
Cal_House_data = "HousingPrices_CA_cleaned.csv"

In [4]:
# Read the Cal_housing data file and store it in a pandas DataFrame.
Cal_House_data_df = pd.read_csv(Cal_House_data)
Cal_House_data_df.head(10)

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,Lot Size.1,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80,1123.0,6761.0,6/14/2021 0:00,6/25/2021 0:00,7/16/2021 0:00,11,95819,739000.0,1941.0,6761.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73,1402.0,9815.0,6/10/2021 0:00,6/19/2021 0:00,7/20/2021 0:00,9,94611,1395000.0,1948.0,9815.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4,12738.0,25023.0,6/1/2021 0:00,6/1/2021 0:00,6/18/2021 0:00,0,92657,20600000.0,2017.0,25023.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11,8177.0,40550.0,6/14/2021 0:00,6/18/2021 0:00,7/19/2021 0:00,4,90049,15868000.0,2010.0,40550.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1,8887.0,19323.0,6/22/2021 0:00,6/22/2021 0:00,6/22/2021 0:00,0,90049,14125000.0,2020.0,19323.0,TM21-752002
5,Sold,137 Heather DR,12800000,2021,2021,14000000.0,14,8803.0,39996.0,6/17/2021 0:00,6/19/2021 0:00,6/29/2021 0:00,2,94027,12800000.0,2007.0,39996.0,ML81849395
6,Sold,622 Walden DR,13500000,2021,2021,13500000.0,13,8918.0,13074.0,5/26/2021 0:00,5/27/2021 0:00,7/15/2021 0:00,1,90210,13500000.0,2008.0,13074.0,TM21-762052
7,Sold,30870 Broad Beach RD,13450000,2021,2021,13350000.0,32,3293.0,15606.0,6/16/2021 0:00,7/12/2021 0:00,7/15/2021 0:00,26,90265,13450000.0,1989.0,15606.0,TM21-746776
8,Sold,25152 Malibu RD,12500000,2021,2021,12500000.0,64,3107.0,6644.0,6/9/2021 0:00,6/9/2021 0:00,6/9/2021 0:00,0,90265,12500000.0,1957.0,6644.0,TM21-747046
9,Sold,111 Hill DR,9500000,2021,2021,9500000.0,83,6520.0,28148.0,4/17/2021 0:00,4/18/2021 0:00,6/28/2021 0:00,1,94904,9500000.0,1938.0,28148.0,BA321059104

In [5]:
#check data type
Cal_House_data_df.dtypes

Status                  object
Street Address          object
List Price               int64
Sale Year                int64
Listing Year             int64
Sale Price             float64
Age                      int64
Sq Ft Total            float64
Lot Size               float64
Listing Date            object
Sale Date               object
Close Date              object
DOM                      int64
Zip Code                object
Original List Price    float64
Year Built             float64
Lot Size.1             float64
MLS Number              object
dtype: object

In [6]:
#convert the data type of 'Sale Data' and 'Losting Data' to the datetime
Cal_House_data_df['Sale Date']= pd.to_datetime(Cal_House_data_df['Sale Date'])
Cal_House_data_df['Listing Date']= pd.to_datetime(Cal_House_data_df['Listing Date'])

In [7]:
#Chacking the convert data type
Cal_House_data_df.dtypes

Status                         object
Street Address                 object
List Price                      int64
Sale Year                       int64
Listing Year                    int64
Sale Price                    float64
Age                             int64
Sq Ft Total                   float64
Lot Size                      float64
Listing Date           datetime64[ns]
Sale Date              datetime64[ns]
Close Date                     object
DOM                             int64
Zip Code                       object
Original List Price           float64
Year Built                    float64
Lot Size.1                    float64
MLS Number                     object
dtype: object

In [8]:
# subtract the 'Sale Data' and 'Listing Data' , the out put column is 'DOM'
Cal_House_data_df['DOM'] = Cal_House_data_df['Sale Date'] - Cal_House_data_df['Listing Date']
Cal_House_data_df

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,Lot Size.1,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80,1123.0,6761.0,2021-06-14,2021-06-25,7/16/2021 0:00,11 days,95819,739000.0,1941.0,6761.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73,1402.0,9815.0,2021-06-10,2021-06-19,7/20/2021 0:00,9 days,94611,1395000.0,1948.0,9815.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4,12738.0,25023.0,2021-06-01,2021-06-01,6/18/2021 0:00,0 days,92657,20600000.0,2017.0,25023.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11,8177.0,40550.0,2021-06-14,2021-06-18,7/19/2021 0:00,4 days,90049,15868000.0,2010.0,40550.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1,8887.0,19323.0,2021-06-22,2021-06-22,6/22/2021 0:00,0 days,90049,14125000.0,2020.0,19323.0,TM21-752002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4336,Sold,14661 Carnegie RD,77900,2020,2020,75000.0,37,1344.0,10019.0,2020-01-31,2020-06-08,7/14/2020 0:00,129 days,95954,89900.0,1984.0,10019.0,ME202000346
4337,Sold,14864 Wood DR,76900,2020,2019,72000.0,50,768.0,10019.0,2019-11-03,2020-07-20,7/31/2020 0:00,260 days,95954,77500.0,1971.0,10019.0,ME201903799
4338,Sold,24780 Avenue 18 1/2,379999,2021,2021,41000.0,40,1970.0,52272.0,2021-06-10,2021-06-14,7/19/2021 0:00,4 days,93638,379999.0,1981.0,52272.0,CRMD21125192
4339,Sold,4721 E Rialto AVE,290000,2021,2021,NaN,60,1380.0,6000.0,2021-06-15,2021-06-15,6/16/2021 0:00,0 days,93726,290000.0,1961.0,6000.0,CRFR21131230
4340,Sold,80 Weston,1698000,2021,2021,NaN,6,3084.0,4008.0,2021-06-09,2021-06-19,6/25/2021 0:00,10 days,92620,1698000.0,2015.0,4008.0,CROC21125378

In [9]:
#code to ride of words "days"
Cal_House_data_df['DOM'] = (Cal_House_data_df['DOM'] / np.timedelta64(1,'D')).astype(int)

In [10]:
# Calcluate the 'Age' from the 'Year Built'
Current_year = 2021
Cal_House_data_df['Age'] = Current_year - Cal_House_data_df['Year Built']
Cal_House_data_df

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,Lot Size.1,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80.0,1123.0,6761.0,2021-06-14,2021-06-25,7/16/2021 0:00,11,95819,739000.0,1941.0,6761.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73.0,1402.0,9815.0,2021-06-10,2021-06-19,7/20/2021 0:00,9,94611,1395000.0,1948.0,9815.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4.0,12738.0,25023.0,2021-06-01,2021-06-01,6/18/2021 0:00,0,92657,20600000.0,2017.0,25023.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11.0,8177.0,40550.0,2021-06-14,2021-06-18,7/19/2021 0:00,4,90049,15868000.0,2010.0,40550.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1.0,8887.0,19323.0,2021-06-22,2021-06-22,6/22/2021 0:00,0,90049,14125000.0,2020.0,19323.0,TM21-752002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4336,Sold,14661 Carnegie RD,77900,2020,2020,75000.0,37.0,1344.0,10019.0,2020-01-31,2020-06-08,7/14/2020 0:00,129,95954,89900.0,1984.0,10019.0,ME202000346
4337,Sold,14864 Wood DR,76900,2020,2019,72000.0,50.0,768.0,10019.0,2019-11-03,2020-07-20,7/31/2020 0:00,260,95954,77500.0,1971.0,10019.0,ME201903799
4338,Sold,24780 Avenue 18 1/2,379999,2021,2021,41000.0,40.0,1970.0,52272.0,2021-06-10,2021-06-14,7/19/2021 0:00,4,93638,379999.0,1981.0,52272.0,CRMD21125192
4339,Sold,4721 E Rialto AVE,290000,2021,2021,NaN,60.0,1380.0,6000.0,2021-06-15,2021-06-15,6/16/2021 0:00,0,93726,290000.0,1961.0,6000.0,CRFR21131230
4340,Sold,80 Weston,1698000,2021,2021,NaN,6.0,3084.0,4008.0,2021-06-09,2021-06-19,6/25/2021 0:00,10,92620,1698000.0,2015.0,4008.0,CROC21125378

In [11]:
# Get the columns and the rows that are not null.
Cal_House_data_df.count()

Status                 4341
Street Address         4341
List Price             4341
Sale Year              4341
Listing Year           4341
Sale Price             4339
Age                    4338
Sq Ft Total            4339
Lot Size               4310
Listing Date           4341
Sale Date              4341
Close Date             4341
DOM                    4341
Zip Code               4341
Original List Price    4338
Year Built             4338
Lot Size.1             4310
MLS Number             4341
dtype: int64

In [12]:
#Get all the Lot Size are greater than 800 in a new DataFrame.
Cal_House_sale_data = Cal_House_data_df[Cal_House_data_df["Lot Size"] >= 800]
Cal_House_sale_data.head(10)

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,Lot Size.1,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80.0,1123.0,6761.0,2021-06-14,2021-06-25,7/16/2021 0:00,11,95819,739000.0,1941.0,6761.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73.0,1402.0,9815.0,2021-06-10,2021-06-19,7/20/2021 0:00,9,94611,1395000.0,1948.0,9815.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4.0,12738.0,25023.0,2021-06-01,2021-06-01,6/18/2021 0:00,0,92657,20600000.0,2017.0,25023.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11.0,8177.0,40550.0,2021-06-14,2021-06-18,7/19/2021 0:00,4,90049,15868000.0,2010.0,40550.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1.0,8887.0,19323.0,2021-06-22,2021-06-22,6/22/2021 0:00,0,90049,14125000.0,2020.0,19323.0,TM21-752002
5,Sold,137 Heather DR,12800000,2021,2021,14000000.0,14.0,8803.0,39996.0,2021-06-17,2021-06-19,6/29/2021 0:00,2,94027,12800000.0,2007.0,39996.0,ML81849395
6,Sold,622 Walden DR,13500000,2021,2021,13500000.0,13.0,8918.0,13074.0,2021-05-26,2021-05-27,7/15/2021 0:00,1,90210,13500000.0,2008.0,13074.0,TM21-762052
7,Sold,30870 Broad Beach RD,13450000,2021,2021,13350000.0,32.0,3293.0,15606.0,2021-06-16,2021-07-12,7/15/2021 0:00,26,90265,13450000.0,1989.0,15606.0,TM21-746776
8,Sold,25152 Malibu RD,12500000,2021,2021,12500000.0,64.0,3107.0,6644.0,2021-06-09,2021-06-09,6/9/2021 0:00,0,90265,12500000.0,1957.0,6644.0,TM21-747046
9,Sold,111 Hill DR,9500000,2021,2021,9500000.0,83.0,6520.0,28148.0,2021-04-17,2021-04-18,6/28/2021 0:00,1,94904,9500000.0,1938.0,28148.0,BA321059104

In [13]:
#Count the new dataframe
Cal_House_sale_data.count()

Status                 4249
Street Address         4249
List Price             4249
Sale Year              4249
Listing Year           4249
Sale Price             4247
Age                    4246
Sq Ft Total            4247
Lot Size               4249
Listing Date           4249
Sale Date              4249
Close Date             4249
DOM                    4249
Zip Code               4249
Original List Price    4246
Year Built             4246
Lot Size.1             4249
MLS Number             4249
dtype: int64

In [14]:
#Check the California_house data for NaN's. 
Cal_House_data_df.tail(10)

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,Lot Size.1,MLS Number
4331,Sold,2843 Stormes AVE,80000,2019,2019,92000.0,65.0,1643.0,6098.0,2019-07-18,2019-07-19,8/15/2019 0:00,1,95966,8075000.0,1956.0,6098.0,ME201902514
4332,Sold,2673 Fort Wayne ST,99000,2019,2019,90000.0,31.0,1040.0,4792.0,2019-07-24,2019-09-11,12/23/2019 0:00,49,95966,119000.0,1990.0,4792.0,ME201902492
4333,Sold,2467 A ST,95000,2019,2019,87000.0,84.0,956.0,9583.0,2019-10-07,2019-12-05,12/10/2019 0:00,59,95966,95000.0,1937.0,9583.0,ME201903506
4334,Sold,968 Mort LN,75000,2019,2019,85000.0,44.0,720.0,13068.0,2019-01-11,2019-02-04,2/8/2019 0:00,24,95973,75000.0,1977.0,13068.0,ME201900110
4335,Sold,3764 Oro Dam BLVD,110000,2019,2018,84000.0,77.0,999.0,6534.0,2018-08-27,2019-01-10,1/24/2019 0:00,136,95966,139000.0,1944.0,6534.0,ME201802872
4336,Sold,14661 Carnegie RD,77900,2020,2020,75000.0,37.0,1344.0,10019.0,2020-01-31,2020-06-08,7/14/2020 0:00,129,95954,89900.0,1984.0,10019.0,ME202000346
4337,Sold,14864 Wood DR,76900,2020,2019,72000.0,50.0,768.0,10019.0,2019-11-03,2020-07-20,7/31/2020 0:00,260,95954,77500.0,1971.0,10019.0,ME201903799
4338,Sold,24780 Avenue 18 1/2,379999,2021,2021,41000.0,40.0,1970.0,52272.0,2021-06-10,2021-06-14,7/19/2021 0:00,4,93638,379999.0,1981.0,52272.0,CRMD21125192
4339,Sold,4721 E Rialto AVE,290000,2021,2021,NaN,60.0,1380.0,6000.0,2021-06-15,2021-06-15,6/16/2021 0:00,0,93726,290000.0,1961.0,6000.0,CRFR21131230
4340,Sold,80 Weston,1698000,2021,2021,NaN,6.0,3084.0,4008.0,2021-06-09,2021-06-19,6/25/2021 0:00,10,92620,1698000.0,2015.0,4008.0,CROC21125378

In [15]:
# Drop the unecessary extra column from dataframe 'Lot Soze.1'
Cal_House_sale_data_df = Cal_House_data_df.drop(["Lot Size.1"], axis=1)
Cal_House_sale_data_df.head()

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80.0,1123.0,6761.0,2021-06-14,2021-06-25,7/16/2021 0:00,11,95819,739000.0,1941.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73.0,1402.0,9815.0,2021-06-10,2021-06-19,7/20/2021 0:00,9,94611,1395000.0,1948.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4.0,12738.0,25023.0,2021-06-01,2021-06-01,6/18/2021 0:00,0,92657,20600000.0,2017.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11.0,8177.0,40550.0,2021-06-14,2021-06-18,7/19/2021 0:00,4,90049,15868000.0,2010.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1.0,8887.0,19323.0,2021-06-22,2021-06-22,6/22/2021 0:00,0,90049,14125000.0,2020.0,TM21-752002

In [16]:
# Determine if there are any empty rows.
Cal_House_sale_data_df.notnull().sum()

Status                 4341
Street Address         4341
List Price             4341
Sale Year              4341
Listing Year           4341
Sale Price             4339
Age                    4338
Sq Ft Total            4339
Lot Size               4310
Listing Date           4341
Sale Date              4341
Close Date             4341
DOM                    4341
Zip Code               4341
Original List Price    4338
Year Built             4338
MLS Number             4341
dtype: int64

In [17]:
# Get the columns and the rows that are not null.
Cal_House_sale_data_df.isnull().sum()

Status                  0
Street Address          0
List Price              0
Sale Year               0
Listing Year            0
Sale Price              2
Age                     3
Sq Ft Total             2
Lot Size               31
Listing Date            0
Sale Date               0
Close Date              0
DOM                     0
Zip Code                0
Original List Price     3
Year Built              3
MLS Number              0
dtype: int64

In [18]:
# Drop the NaNs.
Clean_Cal_House_sale_data_df = Cal_House_sale_data_df.dropna()
Clean_Cal_House_sale_data_df

,Status,Street Address,List Price,Sale Year,Listing Year,Sale Price,Age,Sq Ft Total,Lot Size,Listing Date,Sale Date,Close Date,DOM,Zip Code,Original List Price,Year Built,MLS Number
0,Sold,238 San Miguel WAY,739000,2021,2021,760000000.0,80.0,1123.0,6761.0,2021-06-14,2021-06-25,7/16/2021 0:00,11,95819,739000.0,1941.0,ME221068143
1,Sold,48 Crest Rd,1395000,2021,2021,206250000.0,73.0,1402.0,9815.0,2021-06-10,2021-06-19,7/20/2021 0:00,9,94611,1395000.0,1948.0,EB40953507
2,Sold,5 Coral,20600000,2021,2021,19000000.0,4.0,12738.0,25023.0,2021-06-01,2021-06-01,6/18/2021 0:00,0,92657,20600000.0,2017.0,CROC21129386
3,Sold,850 Linda Flora DR,15868000,2021,2021,15350000.0,11.0,8177.0,40550.0,2021-06-14,2021-06-18,7/19/2021 0:00,4,90049,15868000.0,2010.0,TM21-745464
4,Sold,12760 Bristol CIR,14125000,2021,2021,14125000.0,1.0,8887.0,19323.0,2021-06-22,2021-06-22,6/22/2021 0:00,0,90049,14125000.0,2020.0,TM21-752002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4334,Sold,968 Mort LN,75000,2019,2019,85000.0,44.0,720.0,13068.0,2019-01-11,2019-02-04,2/8/2019 0:00,24,95973,75000.0,1977.0,ME201900110
4335,Sold,3764 Oro Dam BLVD,110000,2019,2018,84000.0,77.0,999.0,6534.0,2018-08-27,2019-01-10,1/24/2019 0:00,136,95966,139000.0,1944.0,ME201802872
4336,Sold,14661 Carnegie RD,77900,2020,2020,75000.0,37.0,1344.0,10019.0,2020-01-31,2020-06-08,7/14/2020 0:00,129,95954,89900.0,1984.0,ME202000346
4337,Sold,14864 Wood DR,76900,2020,2019,72000.0,50.0,768.0,10019.0,2019-11-03,2020-07-20,7/31/2020 0:00,260,95954,77500.0,1971.0,ME201903799
4338,Sold,24780 Avenue 18 1/2,379999,2021,2021,41000.0,40.0,1970.0,52272.0,2021-06-10,2021-06-14,7/19/2021 0:00,4,93638,379999.0,1981.0,CRMD21125192

In [19]:
#count the clean data rows
Clean_Cal_House_sale_data_df.count()

Status                 4300
Street Address         4300
List Price             4300
Sale Year              4300
Listing Year           4300
Sale Price             4300
Age                    4300
Sq Ft Total            4300
Lot Size               4300
Listing Date           4300
Sale Date              4300
Close Date             4300
DOM                    4300
Zip Code               4300
Original List Price    4300
Year Built             4300
MLS Number             4300
dtype: int64

In [21]:
#Creat new columns
new_column_order = ['MLS Number', 'Sale Year', 'Listing Year', 'List Price', 'Sale Price', 'Listing Date', 'Sale Date', 'Close Date', 'DOM', 'Original List Price']

In [22]:
# New columns
Clean_Cal_House_sale_data_df = Clean_Cal_House_sale_data_df[new_column_order]

Clean_Cal_House_sale_data_df.head(10)

,MLS Number,Sale Year,Listing Year,List Price,Sale Price,Listing Date,Sale Date,Close Date,DOM,Original List Price
0,ME221068143,2021,2021,739000,760000000.0,2021-06-14,2021-06-25,7/16/2021 0:00,11,739000.0
1,EB40953507,2021,2021,1395000,206250000.0,2021-06-10,2021-06-19,7/20/2021 0:00,9,1395000.0
2,CROC21129386,2021,2021,20600000,19000000.0,2021-06-01,2021-06-01,6/18/2021 0:00,0,20600000.0
3,TM21-745464,2021,2021,15868000,15350000.0,2021-06-14,2021-06-18,7/19/2021 0:00,4,15868000.0
4,TM21-752002,2021,2021,14125000,14125000.0,2021-06-22,2021-06-22,6/22/2021 0:00,0,14125000.0
5,ML81849395,2021,2021,12800000,14000000.0,2021-06-17,2021-06-19,6/29/2021 0:00,2,12800000.0
6,TM21-762052,2021,2021,13500000,13500000.0,2021-05-26,2021-05-27,7/15/2021 0:00,1,13500000.0
7,TM21-746776,2021,2021,13450000,13350000.0,2021-06-16,2021-07-12,7/15/2021 0:00,26,13450000.0
8,TM21-747046,2021,2021,12500000,12500000.0,2021-06-09,2021-06-09,6/9/2021 0:00,0,12500000.0
9,BA321059104,2021,2021,9500000,9500000.0,2021-04-17,2021-04-18,6/28/2021 0:00,1,9500000.0

In [23]:
# Create the output file (CSV).
output_data_file = "Clean_Cal_House_sale_data.csv"
# Export the House_sale__Data into a CSV.
Clean_Cal_House_sale_data_df.to_csv(output_data_file)

In [24]:
# Database engine connection
    # "postgres://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/California_Housing"
    # Create the database engine
engine = create_engine(db_string)
    # Save movie_df to SQL table
Clean_Cal_House_sale_data_df.to_sql(name='Clean_Cal_House_sale_data', con=engine, if_exists='replace')
    
    
    # Opening a connection
connection = engine.raw_connection()
    # Creating a cursor object using the cursor() method
cursor = connection.cursor()
    # Droping ratings table if already exists
cursor.execute("DROP TABLE IF EXISTS ratings")
    # Commit your changes in the database
connection.commit()
    # Closing the connection
connection.close()